.result_item_poster {
    width: 100%;
    display: grid;
    // gap: 4px;
    cursor: pointer;
    transition: all 0.3s linear;
    grid-template-rows: 300px 60px 40px;
    justify-items: center;
    align-items: center;
    justify-content: center;
  
    .image_info {
      height: 100%;
      min-width: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      img {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  
    .title_info {
      font-size: 16px;
      color: #fff;
      display: block;
      text-align: center;
    }
  
    .btn_info {
      background-color: #919191;
      border: none;
      color: #1f1f1f;
      font-weight: 600;
      padding: 6px 20px;
      margin-top: 4px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      transform: scale(1);
      transition: all 0.2s linear;
  
      &:hover {
        background-color: #c6c6c6;
        color: #000;
      }
    }
  }
  